VITE_GL_PRUEBAS = https://pruebas.garantia.mx
VITE_GL_PRODUCCION = https://app.garantia.mx

VITE_APP_ENV=develop
VITE_BASE_URL=http://localhost:3008/api
# VITE_BASE_URL=https://pruebasbiws.garantia.mx:3008/api

# VITE_APP_ENV=production
# VITE_BASE_URL=https://biws.garantia.mx:3008/api